@use "../../StyleGuide" as utility;

.subsection {
  width: inherit;
  margin-bottom: 2rem;
}

.subsection_heading {
  @include utility.horizontalFlex();
  gap: 1rem;
  cursor: pointer;
  position: relative;
  padding-left: 0.6rem;
  margin-bottom: 1rem;
  h3 {
    font-size: utility.$fs-subsection-heading;
    color: #fff;
    font-weight: utility.$font-weight-section-heading;
    text-transform: capitalize;
  }

  svg {
    font-size: 1.3rem;
    color: #fff;
  }

  &:hover svg {
    color: utility.$clr-primary;
  }

  &::before {
    position: absolute;
    content: "";
    background: utility.$clr-primary;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    border-radius: 10px;
  }
}

.subsection_subheading {
  margin-bottom: 1rem;
  color: #b3b3b3;
}
