@use "../../StyleGuide" as utility;

.navbar {
  width: 100%;
  background-color: utility.$bg-clr-navbar;
  @include utility.horizontalFlex();
  padding: 0.5rem 0;
  position: relative;
}

.navbar_wrapper {
  width: max(90vw, 1250px);
  margin-inline: auto;
  @include utility.horizontalFlex();
  justify-content: center;
  gap: 0.2rem;
  user-select: none;
}

.logo {
  cursor: pointer;
}

.search_bar {
  min-width: max(55%, 693px);
  @include utility.horizontalFlex();
  padding: 0.3rem 0.4rem;
  margin-bottom: 0.2rem;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  &:focus-within {
    outline: utility.$clr-primary solid 2px;
  }

  input {
    outline: none;
    border: none;
    flex: 1;
    height: 100%;
    background: transparent;
    padding: 0.2rem 0;

    &::placeholder {
      color: utility.$clr-input-placeholder;
    }
  }

  svg {
    fill: utility.$clr-input-placeholder;
    margin-right: 0.3rem;
    cursor: pointer;
  }
  @media screen and (max-width: 1260px) {
    min-width: max(40%, 495px);
    //1260 bod
  }
  @media screen and (max-width: 1020px) {
    min-width: min(60%, 650px);
  }
  @media screen and (max-width: 730px) {
    min-width: 52%;
  }
  @media screen and (max-width: 600px) {
    min-width: fit-content;
    background-color: transparent;
    padding: 0;
    margin-left: auto;

    svg {
      fill: #fff;
    }
  }
}

.search_category {
  @include utility.horizontalFlex();
  gap: 0.2rem;
  cursor: pointer;
  padding: 0 0.4rem;
  position: relative;
  span {
    font-weight: utility.$font-weight-button;
  }

  &::after {
    content: "";
    position: absolute;
    top: -27%;
    right: 10%;
    width: 1px;
    background-color: utility.$clr-input-placeholder;
    height: 150%;
  }
}

.language_wrapper {
  position: relative;
}
