@use "./StyleGuide" as utility;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: utility.$font-family;
}

.wrapper {
  width: 100vw;
  position: relative;
}

.backtop {
  position: fixed;
  z-index: 7;
  top: 5%;
  left: 50%;
  transition: transform ease 500ms;
  background: #f0f0f0;
  width: 125px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  cursor: pointer;
  font-size: 14px;
  border-radius: 20px;

  &:hover {
    background: darken(#f0f0f0, 10%);
  }
}
