@use "./StyleGuide" as utility;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: utility.$font-family;
}

.wrapper {
  width: 100vw;
  position: relative;
}
