@use "../../StyleGuide" as utility;

.list_row {
  width: 100%;
  @include utility.horizontalFlex();
  cursor: pointer;
  color: #fff;
  position: relative;
  padding: 0.5rem 0.8rem;
  gap: 0.6rem;
  line-height: 22px;

  label {
    cursor: pointer;

    input {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;

      &:checked ~ .checkbox {
        border: solid 2px utility.$clr-primary;
      }

      &:checked ~ .checkbox::after {
        display: block;
      }
    }
  }

  &:first-child {
    border-top: solid 1px utility.$clr-input-placeholder;
  }

  &:nth-child(2) {
    font-size: 0.75rem;
    line-height: 18px;
    font-weight: utility.$font-weight-button;
    letter-spacing: 1px;
    border: solid 1px utility.$clr-input-placeholder;

    svg {
      margin-left: auto;
      font-size: 1.2rem;
      fill: utility.$clr-input-placeholder;
    }
  }

  &:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &:hover {
    background: rgb(79, 79, 79);
  }
}

.checkbox {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 0.4rem;
  border: solid 2px #fff;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: utility.$clr-primary;
    display: none;
  }
  //note - width and height weren't applied to span
  //cuz its inline element so we need to make it block lvl
}
