@use "../../../StyleGuide" as utility;

.slide {
  min-width: 50%;
  @media screen and (max-width: 600px) {
    min-width: 100%;
  }
}

.slide_img {
  width: 95%;
  cursor: pointer;
  position: relative;
  img {
    width: 100%;
    aspect-ratio: 16/9;
  }
  svg {
    position: absolute;
    bottom: 3%;
    left: 3%;
    font-size: 2rem;
    color: #fff;
  }
}

.slide_info {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.3rem;

  svg {
    color: #6b6767;
    font-size: 2rem;
    margin-top: 0.2rem;
    cursor: pointer;

    &:hover {
      color: lighten(#6b6767, 10%);
    }
  }
}

.frag {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.slide_heading {
  text-transform: capitalize;
  color: #fff;
  font-size: utility.$fs-slide-heading;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.slide_link {
  color: utility.$clr-light-blue;
  font-size: utility.$fs-slide-link;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
